* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  :root {
    --primary: #351c75;
    --secondary: #bd60e7;
    --tertiary: #d9d3e9;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #aaaaaa;
  }

  /*BUTTONS*/
  button {
    padding: 20px;
    background-color: var(--primary);
    color: var(--white);
    font-size: 25px;
    border: none;
    outline:none;
    border-radius: 20px;
    margin: 10px;
  }

  button:hover{
    background-color: var(--secondary);
  }

  button[data-clicked="true"] {
    background-color: var(--secondary);
  }

  /*HEADER*/
  header {
    padding: 30px 100px 30px 50px;
    display: flex;
    flex-direction: row;
  }

  header h3 {
    font-size: 25px;
    font-weight: unset;
  }

  header .scores {
    flex: 1;
    color: var(--secondary);
    max-width:240px;
    text-align: left;
    background-color: var(--white);
  }

  header .timer {
    flex: 1;
    text-align: right;
  }

  /* MAIN*/
  main {
    width: 60%;
    text-align: center;
    margin: auto;
  }

  main .question {
    font-weight: bold;
    font-size: 50px;
  }

  main .info {
    font-size: 30px;
  }

  /*ANSWER SECTION*/
  .answers {
    flex: 1 60%;
  }
  
  .answers button {
    display:list-item;
    padding: 20px 100px 20px 20px;
  }

  /* hides CORRECT SECTION on page load and formats it accordingly*/
  .correct {
    display: none;
  }

  .correct h1 {
    font-size: 40px;
    font-style: italic;
    color: var(--grey);
    font-weight: lighter;
    text-align: left;
    border-top: 5px solid var(--grey);
    padding: 15px;
  }

  /* hides INITIALS-FORM SECTION on page load and formats it accordingly*/
  .initials-form {
    display: none;
    align-items: center;
    justify-content: flex-start;
  }

  .initials-form p {
    font-size: 30px;
  }

  .initials-form button {
    font-size: 25px;
    padding: 5px 20px 5px 20px;
    margin: 0;
    border-radius: 10px;
  }

  .initials-form input {
    margin: 5px;
    padding: 5px;
    font-size: 25px;
    border: 2px solid var(--black);
  }

  /* hides HIGH-SCORE SECTION on page load and formats it accordingly*/
  .high-scores {
    display: none;
  }

  .high-scores h1{
    text-align: left;
    padding-left: 20px;
    font-size: 30px;
    margin-bottom: 5px;
  }

  .high-scores ol {
    background-color: var(--tertiary);
    width: 100%;
  }

  .high-scores li{
    background-color: var(--tertiary);
    width: max-content;
    font-size: 25px;
    padding: 10px 10px 10px 0;
    margin-left: 20px;
  }

  .high-scores button {
    font-size: 25px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    float: left;
  }

  /*FOOTER*/
  footer {
    width: 100%;
    color: var(--tertiary);
    padding: 20px;
    text-align: center;
  }

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 850px) {

  button {
    padding: 10px;
    font-size: 16px;
  }

  header {
    padding: 0 40px 0 30px;
  }

  header button {
    padding: 0;
    margin: 0;
  }

  header h3 {
    font-size: 16px;
  }

  main {
    width: 100%;
  }

  main .question {
    font-size: 30px;
  }

  main .info {
    font-size: 25px;
  }

  .answers button {
    padding: 20px 40px 20px 20px;
  }

  .high-scores button {
    font-size: 16px;
  }

  .initials-form p {
    font-size: 25px;
  }

  .initials-form button {
    font-size: 16px;
  }

  .initials-form input {
    font-size: 16px;

  }
}